<h1>Create</h1>
<p>
	<a asp-controller="Doctores" asp-action="Index">Back to list</a>
</p>
<form method="post">
	<label>IdHospital:</label>
	<input type="text" name="idHospital" class="form-control" />
	<label>IdDoctor:</label>
	<input type="text" name="idDoctor" class="form-control"/>
	<label>Apellido:</label>
	<input type="text" name="apellido" class="form-control" />
	<label>Especialidad:</label>
	<input type="text" name="especialidad" class="form-control" />
	<label>Salario:</label>
	<input type="text" name="salario" class="form-control" />
	<button class="btn btn-info">Insertar</button>
</form>